/* customize spacing */

.whatweuse-section, .FAQ-section {
	 padding-top: 200px;
	 padding-bottom: 200px;
}




/* thumbnail for what we use section */
.thumbnail-tech {
	margin: 50px auto;
}

.thumbnail-tech .thumbnail {
	background-color: rgba(0, 0, 0, 0);
    border: 1px solid rgba(0, 0, 0, 0);
}

.thumbnail-tech .thumbnail> img{
    height: 200px;
    width: auto;
}

/* FAQ section */

.left-align {
	text-align: left;
}

.faq-heading {
	margin-bottom: 70px;
}

.faq-question {
	font-size: 150%;
	text-transform: none;
	margin-bottom: 12px;
	font-weight: 800;
	color: grey;
}

.faq-answer {
	font-size: 110%;
	margin-bottom: 20px;
	font-weight: 300;
}